<div class="pomodoro-container container">
    <div class="row mt-3 justify-content-center">
        <button (click)="reset(pomodoro)" mat-raised-button color="accent" class="col-3 mr-1">
            Pomodoro
        </button>
        <button (click)="reset(shortBreak)" mat-raised-button color="accent" class="col-3 mr-1">
            Short break
        </button>
        <button (click)="reset(longBreak)" mat-raised-button color="accent" class="col-3">
            Long break
        </button>
    </div>
    <div class="row justify-content-center timer my-5">
        <span>
            {{timerValueMinutes | number: '2.0-0'}}:{{timerValueSeconds | number: '2.0-0'}}
        </span>
    </div>
    <div *ngIf="books" class="search mx-5" [hidden]="currentTimerType!==pomodoro">
        <app-book-search #bookSearch [searchInOwnCollection]="true" [books]="books" (bookSelected)="onBookSelected($event)"></app-book-search>
    </div>
    <div class="row mb-3 justify-content-center">
        <button (click)="play()" mat-icon-button>
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button (click)="stop()" mat-icon-button>
            <mat-icon>pause</mat-icon>
        </button>
        <button (click)="reset()" mat-icon-button>
            <mat-icon>replay</mat-icon>
        </button>
    </div>
</div>