<div class="container">
    <mat-tab-group (selectedIndexChange)="onTabIndexChange($event)" [selectedIndex]="selectedTabIndex" class="mb-4"
        mat-align-tabs="start">
        <mat-tab label="To read"></mat-tab>
        <mat-tab label="In read"></mat-tab>
        <mat-tab label="Finished"></mat-tab>
    </mat-tab-group>
    <div class="row">
        <div class="col-sm-3 card-col" *ngFor="let book of (books | filterBooksByType: selectedTabIndex)">
            <div class="d-flex flex-row">
                <mat-card class="my-3 flex-column">
                    <mat-card-header>
                        <mat-card-title>{{book.title}} - {{book.publishedYear}}</mat-card-title>
                        <mat-card-subtitle>{{book.authors}}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="image-container mt-2">
                        <img mat-card-image [src]="book.thumbnail">
                    </div>
                    <mat-card-actions>
                        <button color="primary" (click)="startReading(book.id)"
                            *ngIf="book.status === bookStatuses.ToRead" mat-button>READ</button>
                        <button (click)="doPomodoro(book.id)" color="warn" *ngIf="book.status === bookStatuses.InRead"
                            mat-raised-button>POMODORO -
                            ({{book.pomodoros.length}})</button>
                        <button (click)="finishReading(book.id)" color="accent"
                            *ngIf="book.status === bookStatuses.InRead" mat-raised-button>FINISH</button>
                        <button color="warn" *ngIf="book.status === bookStatuses.Finished"
                            mat-button>{{book.pomodoros.length}} POMODOROS</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>