<mat-card>
    <mat-card-header>
        <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
        <mat-form-field>
            <input autocomplete="off" formControlName="userName" matInput placeholder="User name">
        </mat-form-field>
        <mat-form-field>
            <input autocomplete="off" formControlName="password" type="password" matInput placeholder="Password">
        </mat-form-field>
        <button (click)="submit()" mat-raised-button color="primary">
            Sign in
        </button>
    </form>
</mat-card>